NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=sena
DB_PASS=sena1234
DB_NAME=maquillaje_sena

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=redis1234

JWT_SECRET=reemplaza-esto-por-un-secreto-largo-y-aleatorio
